#header {
  background-color: #181818;
  color: #f8f8f8;
  position: absolute;
  top: 0;
  width: 100vw;
}

#content {
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
  max-width: 720px;
}

#newPoem {
  display: flex;
  justify-content: center;
}

#stats {
  margin: auto;
  margin-top: 79.88px;
  margin-bottom: 12px;
  text-align: center;
  width: 100vw;
  max-width: 600px;
}
